:root {
  --noir: #202427;
  --blanc: #ffffff;
  --gris-fonce: #60727a;
  --gris-moyen: #a7b4b9;
  --gris-leger: #cbd3d6;
  --gris-clair: #ebf0ec;
  --vert: #80c241;
  --vert-clair: #e5f4d3;
  --jaune: #eada49;
  --vert-fonce: #0c4e17;
  --beige: #fbfbde;
  --vert-ancien: #6db52d;
  --color-vert-50: #f3faeb;

  --hover-vert: #abda7c;
  --hover-vert-fonce: #01320a;

  --spacing-3xl: 512px;
  --spacing-2xl: 256px;
  --spacing-xl: 128px;
  --spacing-lg: 64px;
  --spacing-md: 32px;
  --spacing-sm: 16px;
  --spacing-xs: 8px;
}
